.active{
    fill: rgb(143, 143, 143);
}
.head:hover{
 transition: 0.6s;
 
}
.solkol:hover{
 transition: 0.6s;
}
.sagkol:hover{
 transition: 0.6s;
}
.hand:hover{
 transition: 0.6s;
}
.gogus:hover{
 transition: 0.6s;
}
.karin:hover{
 transition: 0.6s;
}
.sagbacak:hover{
 transition: 0.6s;
}
.solbacak:hover{
 transition: 0.6s;
}
.diz:hover{
 transition: 0.6s;
}
.foot:hover{
 transition: 0.6s;
}