<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/DefaultController1/Index" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/StaffController1/Index" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/StaffController1/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
             <li>
                <a href="/StaffController1/Index" aria-expanded="false">
                    <i class="icon-check menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/ServiceController1/Index" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAboutController1/Index" aria-expanded="false">
                    <i class="icon-globe menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoomController1/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
                <li>
                <a href="/GuestController1/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContectController1/Inbox" aria-expanded="false">
                    <i class="icon-emotsmile menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminContectController1/Inbox" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Mail</span>
                </a>
            </li>
            <li>
                <a href="/AdminUserController1/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Üyeler</span>
                </a>
            </li>
               <li>
                <a href="/WorkLocationController1/Index" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocationController1/Index" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocationController1/Index" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocationController1/Index" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
         
        </ul>
    </div>
</div>